@media (max-width: 1010px) {
  .menu-desktop {
    display: none;
  }

  .btn-menu-mobile {
    display: block;
  }

  /* INTRODUÇÃO */

  section.introducao > .interface {
    padding-top: 80px;
  }

  .saudacao {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }

  section.introducao .img-perfil img {
    border: 3px solid #dc2626;
    border-radius: 50%;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--corBranca);
    margin-bottom: 0.8rem;
  }

  section.introducao h1 {
    font-size: 1.8rem;
  }

  .introducao h1 span {
    display: block;
  }

  section.introducao p.biografia {
    width: 350px;
    font-size: 0.9rem;
    text-align: center;
  }

  .introducao > .interface {
    text-align: center;
    flex-direction: column;
  }

  .introducao .img-perfil img {
    max-width: 300px;
    max-height: 300px;
  }

  /* SOBRE-MIM */

  section.sobre-mim .txt-sobre p {
    width: 350px;
    text-align: justify;
    font-size: 0.8rem;
  }

  section.sobre-mim span p {
    color: var(--corVermelha);
    margin-bottom: 15px;
    width: 350px;
    text-align: center;
  }

  section.sobre-mim .btn-redes button {
    width: 48px;
    height: 48px;
    font-size: 26px;
    margin-right: 10px;
  }

  /* HABILIDADES */
  section.habilidades .tecnologias {
    gap: 12px;
  }

  section.habilidades .tecnologias .tecnologia-box a {
    width: 100px;
    height: 100px;
  }

  section.habilidades > .interface {
    padding-bottom: 100px;
  }

  /* PORTFOLIO */

  .portfolio .portfolio-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    gap: 1.5rem;
  }

  /* Rodapé */

  footer .btn-redes {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 80px;
  }

  footer .btn-redes p {
    font-size: 0.9rem;
  }
}
